*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
#home{
    background-image: url("./img/background-black.jpg");
    height: 800px;
}
nav{
    background-color: transparent;
    height: 100px;
}
nav img{
    width: 150px;
}
form{
    background-color: rgba(0, 0, 0, .75);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}
input{
    padding: 16px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px ;
    background-color: #333;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
    opacity: .8;
    outline: none;
}
input[type=submit]{
    background-color: rgb(211, 8, 18);
    font-weight: 700;
    text-transform: uppercase;
}
input[type=submit]:hover{
    background-color: rgb(173, 7, 15);
    cursor: pointer;
}
input[type=email]:focus, 
input[type=password]:focus,
input[type=email]:hover, 
input[type=password]:hover
{
    opacity: 1;
    background-color: rgb(34, 34, 34);
}

label{
    color: #fff;
    margin-left: 10px;
}
p{
    color: #737373;
}
a{
    color: #fff;
}
.content{ 
    margin: 0 10%;
    margin-top: 150px;
}
.row{
    display: flex;
    justify-content: center;
}

#profil-page{
    background-color: #141414;
}
h1{
    color: #fff;
    font-size: 3em;
}
.profil img{
    border: 2px solid transparent;
    width: 100%;
}
.profil img,
.profil p
{ 
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.profil:hover img{
    border: 2px solid #fff;
}
.profil:hover p{
    color: #fff;
}
a{
    text-decoration: none;
}
.btn{
    text-transform: uppercase;
    border: 1px solid #808080;
    padding: .5em 1.5em;
    color: #808080;
    margin-top: 50px;
    font-size: .9em;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.btn:hover{
    border: 1px solid #fff;
    color: #fff;
}
.space-between{
    justify-content: space-between;
}